body {
    font-family: sans-serif;
}

h1 {
    text-decoration: red underline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

thead{
    background-color: lightblue;
}

tbody tr:first-child td {
    background-color: lightgreen;
}

tbody tr:nth-child(2) td {
    background-color: lightcoral;
}

tbody tr:nth-child(3) td {
    background-color: lightcoral;
}

tbody tr:nth-child(4) td {
    background-color: lightcoral;
}

tbody tr:nth-child(5) td {
    background-color: lightcyan;
}

tbody tr:nth-child(6) td {
    background-color: lightcyan;
}

tbody tr:nth-child(7) td {
    background-color: lightcyan;
}

tfoot {
    background-color: aliceblue;
}